<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" type="text/css" href="css/modules/artical-detail.css">
  <%- extraHeads %>
 </head>
 <body>
<div class="detail-banner">
 <img src="<%- mdObj.banner %>" alt="<%- mdObj.banner %>">
</div>

<div class="w100p flex">

 <%- markdownHtml %>
 <section id="contentRightFix">
  <section id="typeModule" class="type-module module">
   <div class="module-title">分类</div>
   <%- type_module_html %>
  </section>
  <section id="tagModule" class="tag-module module">
   <div class="module-title">标签</div>
   <ul>
    <% tags.forEach(function(item) { %>
     <%- `<li><a class="hover-line" href="/tag-index?tag=${item}">${item}</a></li>` %>
    <% }) %>
   </ul>
  </section>
  <section id="menuModule" class="module">
   <div class="module-title">目录</div>
   <%- mdMenuModuleHtml %>
  </section>
</div>

 <script >
  $(document).ready(function() {
   let $menuRect ,headerHeight,MenuTop,MenuLeft
   function getInitInfos() {
    if(!$menuRect) $menuRect = $("#tagModule")
    if(!headerHeight) headerHeight = $("header").height()
    if(!MenuTop) MenuTop = $menuRect.offset().top
    if(!MenuLeft) MenuLeft = $menuRect.offset().left
   }
   getInitInfos()
   $(window).scroll(function() {
    getInitInfos()
    let scroll = $(window).scrollTop();
    let $menuModule = $("#menuModule")
    if(scroll - headerHeight > MenuTop) {
     if(!$menuModule.hasClass("menu-fixed")) $menuModule.addClass("menu-fixed")
     $menuModule.css("left", MenuLeft + 'px')
    } else {
     if($menuModule.hasClass("menu-fixed")) $menuModule.removeClass("menu-fixed")
     $menuModule.css("left", "0")
    }
   });
  });
 </script>
</section>
 </body>
</html>
